---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: keycloak
  name: "keycloak"
spec:
  host: keycloak-{{ sso_operator_namespace }}.{{wildcard_domain}}
  port:
    targetPort: keycloak
  to:
    kind: Service
    name: keycloak
    weight: 100
  tls:
    termination: reencrypt
    wildcardPolicy: None
    certificate: |
      -----BEGIN CERTIFICATE-----
      MIIEajCCAtKgAwIBAgIQRN/72kba1kE7gG8QXYkwjjANBgkqhkiG9w0BAQsFADCB
      izEeMBwGA1UEChMVbWtjZXJ0IGRldmVsb3BtZW50IENBMTAwLgYDVQQLDCdubWFq
      b3JvdkBuaWtvZmVkb3JhMzUgKE5pa29sYWogTWFqb3JvdikxNzA1BgNVBAMMLm1r
      Y2VydCBubWFqb3JvdkBuaWtvZmVkb3JhMzUgKE5pa29sYWogTWFqb3JvdikwHhcN
      MTkwNjAxMDAwMDAwWhcNMzIxMTA4MDgzNjUzWjBbMScwJQYDVQQKEx5ta2NlcnQg
      ZGV2ZWxvcG1lbnQgY2VydGlmaWNhdGUxMDAuBgNVBAsMJ25tYWpvcm92QG5pa29m
      ZWRvcmEzNSAoTmlrb2xhaiBNYWpvcm92KTCCASIwDQYJKoZIhvcNAQEBBQADggEP
      ADCCAQoCggEBAKedvD38SuuXkAJ8qnJgtEDUWyPFkdEgtDUCoOsBgT9vNNfRNFrM
      cvF+rcz/naHhBuTuLYbTeb7X/p4laBc/vygr3fsWmNQJZJFtJlP7EBkCjJ3WgEIs
      XgzRZhh5V3Re4j0QlMfo2VjlJKMmsy5qffACXRhRLSij7VvAw9GY4Z1fnKCFJjUg
      g3nPbVMPSR3jsJg7gXmVAA3eCmDYcJqfO+TUMl9URjiPgHhF18YXrGrio9jpmDeq
      yvMBA2Z1is/FSPgjj1lRlVhWRO+pCBIpnEsehqg+kj2JXCx1ZEI2HxCnwWJFvBsV
      jvJjvTmAE4za2PpIgHn1cPDMIecrUkEEnXsCAwEAAaN5MHcwDgYDVR0PAQH/BAQD
      AgWgMBMGA1UdJQQMMAoGCCsGAQUFBwMBMAwGA1UdEwEB/wQCMAAwHwYDVR0jBBgw
      FoAU7u8w3yscFRz/p1j8q44qcgfnmeEwIQYDVR0RBBowGIIWKi5hcHBzLm9jcDAw
      MS5yaGxhYi5jaDANBgkqhkiG9w0BAQsFAAOCAYEAAhMj3eE4HnPJ5UUxKnFObhnd
      kh/7+kK04FKgd9vF50i3AXZJSmStrHGeWrMYqA3va1mzDlxlSvtXcXwQ9JpyAbUv
      88tqXIR0/+EoHcwGMbt4HUoXvbm6Pd4ybI+4z4HrjuXNfRO8pbL8QYDNhCAYwD8y
      YRHG20wmR81t1vEq2x6PGoxJI04r8WO3COrH2eIIA57A31z0D2rqqrdWu5ViL9Vv
      IbVZDzDuExcnPrpCgRTJmtSBPPYlRf05cKM8S/dsIQttqZD5vRhwnC0x8B7S4HwF
      VLMRFhEXizs4+8wXXsgqrltjpMyND1uj8f92hy+p4GOQNQOGSIujaY/du1VxSh6E
      oLvwJBGpUE6vEWubq86/v5AgrURpEamIa1/aXCsgdyXGfhb1nMkvJij8sj+eeqYz
      ZSvwgzbgnObkJDXLSSMK3TTD2R76Zm0YsPnT+y9asOyAfqdB9UjkPS40rBU+LG5u
      /WVI52ta6S9JaU9mFN6sO4PBM1dwx5CyCtxGLbqp
      -----END CERTIFICATE-----
    key: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCnnbw9/Errl5AC
      fKpyYLRA1FsjxZHRILQ1AqDrAYE/bzTX0TRazHLxfq3M/52h4Qbk7i2G03m+1/6e
      JWgXP78oK937FpjUCWSRbSZT+xAZAoyd1oBCLF4M0WYYeVd0XuI9EJTH6NlY5SSj
      JrMuan3wAl0YUS0oo+1bwMPRmOGdX5yghSY1IIN5z21TD0kd47CYO4F5lQAN3gpg
      2HCanzvk1DJfVEY4j4B4RdfGF6xq4qPY6Zg3qsrzAQNmdYrPxUj4I49ZUZVYVkTv
      qQgSKZxLHoaoPpI9iVwsdWRCNh8Qp8FiRbwbFY7yY705gBOM2tj6SIB59XDwzCHn
      K1JBBJ17AgMBAAECggEAJCi5BT46A1zs6jxuoMIP4LRu/OaQMGc3uP/aKxhmA4NA
      CRbOjo/wc/x6DfFO1i8vR4/CLoXMi8kY2pEDRZCw8j+UYahcS9HC6kR7sj5FGMAe
      CabOgHgFygoaVklG/onBkJ7VGdM3oB++qZudp/O9O1unLanFbjD+8X5CQCMU+Nff
      9kGJFWEVDmcARyjvO8NF5potP5qyOX9rO+wQvMh3V05MoRNtIO48C7NTBi/gbhas
      AdTuLZ2wfjDQX4VpEXANVNhZ7x+qYzDYbNHb4gb53vtg8jxhatq2uZ/SsSRm0Tnd
      Hts/kBOponx+jqO9sSolN6oqQDcWg0oAKeJR7UA6EQKBgQDauYG5nVqA+IrmC8F5
      5GI35aBVILH7TECpldd9FI2CnZq3y0sYnZ0khn5AUyM/AF1eeQROKZHxL2yNTZLM
      ceE9JKsycUxEjr1qD9sVgwhXEefzrZWx8KV1lLdoeXA4500ndMRzyOH6G2IGTSv2
      yGTuc2eZly5+0/PA8aaMCvTc/QKBgQDELnk95VeC94sGkcZuxd0i6GtfcyStsXg1
      dMou3SSpYlsNAS9qupLOyBu0ZKuEO1lzI/rfd01um4oOvC49dtKBJQfnJXvj+9cm
      ms+Qfg6xuQcP48jJkk+cM758HF9XKEqWlT5jBfvszVXJHlXYO7e/QQgyNH0p6Y5n
      C5CC3Cyp1wKBgHSsRd3MaS2o5vblyHQL9rSYgdlHEonZWBjePE+VehL1nUVzZQCh
      euSz9X68mm2N9UBiz4AePqJoSMBrY+Y4zQx/le7XbvaXKcT85kHoXreLbq6WpuZ/
      VtOM2/UX6lwATjDA4dZdjuWKW9S+r7f5l5V27AmLEptG1pzSiqPjaFDFAoGBAJ4w
      TykevfLoAl14vEXkHE0iljnwEZpRKPoJw2IIhaBjo8GXvBFWgjxk1RoftsG4TYdv
      csIwY+qVVrxM9wguwMzL/FRhQEX0c2c4m7gKPXUHGm+wn94RsUnl22oeQq532bUU
      gKq+T4aBh/PVFyl19dMs8BvzgR2Dq4ThqVQrj4QfAoGAIqzor6+ZoC5n6AgyWtmL
      832kAKuLCktxdp75INOy8ZroqsApSnByMw+Jr2wVEkMNFpSutLipsvJWJlPsmiWM
      yZWaQL9bLEySY40QRvr5MGGwXOONxQl7XntpfhxD28pGGcvCeZgYQJYiV3h357Et
      WmqmmPsbZEt0UjyutMpmRSU=
      -----END PRIVATE KEY-----