---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: keycloak
  name: "keycloak-https"
spec:
  host: keycloak-nm-sso.{{wildcard_domain}}
  port:
    targetPort: keycloak
  tls:
    certificate: |
      -----BEGIN CERTIFICATE-----
      MIIC9zCCAd8CFANWVckeNtre8t51h2UuVKoitGinMA0GCSqGSIb3DQEBCwUAMDgx
      ETAPBgNVBAMMCHJobGFiLmNoMQswCQYDVQQGEwJVUzEWMBQGA1UEBwwNU2FuIEZy
      YW5zaXNjbzAeFw0yMjA4MjIxMDE2MjZaFw0yNDA4MjExMDE2MjZaMDgxETAPBgNV
      BAMMCHJobGFiLmNoMQswCQYDVQQGEwJVUzEWMBQGA1UEBwwNU2FuIEZyYW5zaXNj
      bzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAKxMbYBWC1scplT+v3qE
      /cHSOkMV+kVfPdZkWQrBnjNuyYYVSbJm6DDGi6TezM3jUWoRjj5g8sJAPiajPF2w
      JWEe2LHVagq5nlLNnNTIVI2VT/NDSyNLBkm56CIq12K5d7nT7aUtyJ84e09Khot7
      sSIS82/PYYkQO1n3r3lXQ0cKitV74ppmCYR3Hhy3AqmNukG1LhV4I++RvYAdsj07
      faZkxsh/KzCFBFbkeHdtYWl4HIvR5BCsqVCuqLb97W4Eh0J84OgDMaRVPUxr2dci
      skSRAxh2ppWiIR5StQJoWU65xAcW2siH5q712K9YgvXPH0ZLW1PlYlczFWkIBN0L
      MWsCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAoYbo+WDuIlMP3dBzjdP2cwWo0L1S
      b/8DIXhK9bkFctXsQrkE04RFL5mzG/UDilwBjY5CcbYMdkVDM46dvM4mU+0BuYXJ
      Ex/zfke1Nx2Oygvz9fRXALRfyQ0Wtkee52Kw4CBIHOCkeuAXtIP4EW4ObI2AuhiX
      fVgjk+88jneYC1ndeV4O1avh+Ny402CAS1EboDZwSmUDg7Hyv7mRiUs+UoK/3iq6
      OpRrP72Jecf+Yj/uNPeFTdpWnomk3ufWQcDLBktPEy+73GdrQTVDZ+FJ8HzLqUpH
      knP2H0zyZThlkQSZw8BTBzR0qmUrXLfsDP1OBWcDWWfmzimrdmHK0sAYlw==
      -----END CERTIFICATE-----
    key: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCsTG2AVgtbHKZU
      /r96hP3B0jpDFfpFXz3WZFkKwZ4zbsmGFUmyZugwxouk3szN41FqEY4+YPLCQD4m
      ozxdsCVhHtix1WoKuZ5SzZzUyFSNlU/zQ0sjSwZJuegiKtdiuXe50+2lLcifOHtP
      SoaLe7EiEvNvz2GJEDtZ9695V0NHCorVe+KaZgmEdx4ctwKpjbpBtS4VeCPvkb2A
      HbI9O32mZMbIfyswhQRW5Hh3bWFpeByL0eQQrKlQrqi2/e1uBIdCfODoAzGkVT1M
      a9nXIrJEkQMYdqaVoiEeUrUCaFlOucQHFtrIh+au9divWIL1zx9GS1tT5WJXMxVp
      CATdCzFrAgMBAAECggEAL2Nh5p9Dxk5t7QiXz3HOfUV94r+jsvrL/jBhURUJlunM
      oYUvXNLy359r/u+McsAnvz2O2tc9TXHv5h6VVstArKKYROkGnmaJBgspLFjg8IP1
      llmWy+ExnIt2LheMX8nVBRYl0X1zJV+agqdjs+9UO6Pssn7eO51sRYVbDMuUZHAs
      n1D5XrXmX6cZ1X/92ZbZ4gooq2UFStDfnRZSqCvaIBiheYSxB6Dfn0WyvgaKNoif
      QNLCo5COhAjGUhle7bRa07C8uDDd6trmU3TCDbQ9UAWT5yOnmTLVzAzejHSriyon
      9tW1fkM9cUYHPsBPk1r55U6I04vSQ2B4AEUIK7c/cQKBgQDqafaj2BVFlt52Scgr
      azSAtYyj4mPOPqOz3SzqKW9AVo2fFoYlfRy+8xuamSBjBAEdhoPPMN3G8WnG2mpB
      Z/0I6CPblTabqIyI8fIhoa6rXxqgPmNITXAWqNbMXZ4SIrbipI3KfkQycXUFRPBz
      XbkS0LrtuFJzeYo0EUWo+aw0+QKBgQC8KiqUs+yt3SD+HBtRa1xJK/p8OwmH9MIz
      4BGp+ahx6y02zfaoKJuRIS9AlGMPn3hc1gn1tZh1i1Iy/PLe89/cbftV1qHyzQDq
      WKRkDW0qubwJR94DY1vTHQkdnUnCd1TTtUFhBHopHpeHPJEvy785qWlQBdPtKKNz
      FA4xqvBGgwKBgQDDCzv/BBJe/rNHdQiqp97doTHOQtaMiy4mwEdY5vT8cYgQ8OrZ
      UoqSjzFOp059VJ2g9YXC5YQCvmgm3yE+Hso5mP4M/NCdH9cfM0EmnqL5UH6VCpQN
      WvGCySVAkjyuFlhZqFWaQQl5d1HI+p2fQEJ311lR5uYj0uMdg6mUeXnB8QKBgEHS
      CjUcP0WOXbUmBdRUVuLttGBykmHxl2FoFyW7RFYdKyLJp2epVMnOruXLQl+7q/Hl
      mXRPArbTdnyJiTe+XWeRPWMIgnwZhCF1woORQse4UvN4JUxQHFXcCU1HsP6Kmay4
      8dbLJyRtJBpVcIAkqI62GTW55ClIluxxbomnPwebAoGBAJmVnxJNMPw9HM9x1uPx
      VZAAYcbKKoqFj/ZyAomKj5nf3CGI1f9xalUx9BQDoGqLmHTFh/npYJW4lbJM0aQ+
      NbSfihRCzO9gEs5Q7ohdfDM9G5MdiFWEw5IUqJk/IVPp0NADZ9G9FOs6bVpDhlHQ
      5aS2japQDUT8cOQywR1eNqMP
      -----END PRIVATE KEY-----

    termination: reencrypt
  to:
    kind: Service
    name: keycloak
    weight: 100
  wildcardPolicy: None
