---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: keycloak
  name: "keycloak"
spec:
  host: keycloak-{{ sso_operator_namespace }}.{{wildcard_domain}}
  port:
    targetPort: keycloak
  to:
    kind: Service
    name: keycloak
    weight: 100
  tls:
    termination: reencrypt
    wildcardPolicy: None
    certificate: |
      -----BEGIN CERTIFICATE-----
      MIIDLzCCAhcCFG89l5QWz6UHfSawKVKVc97rPdCwMA0GCSqGSIb3DQEBCwUAMFQx
      LTArBgNVBAMMJGtleWNsb2FrLW5tLXNzby5hcHBzLm9jcDAwMS5yaGxhYi5jaDEL
      MAkGA1UEBhMCVVMxFjAUBgNVBAcMDVNhbiBGcmFuc2lzY28wHhcNMjIwODIzMTY1
      ODMwWhcNMjQwODIyMTY1ODMwWjBUMS0wKwYDVQQDDCRrZXljbG9hay1ubS1zc28u
      YXBwcy5vY3AwMDEucmhsYWIuY2gxCzAJBgNVBAYTAlVTMRYwFAYDVQQHDA1TYW4g
      RnJhbnNpc2NvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAj/aWIrau
      2cb/y9I/de3R3cqUXvxJVT9pZIuCdOH6UsCqWFHd24o8kGeCvljD3kHX2/tM5u3x
      kiI8wY/cR/YnhQgC+cAzC9TQa3oiJAqf2z0NeKyPGFM0OTtFgYhTNT/lt7RYbXoN
      +9kYSKwWQIdcJ5geLNRx7DUvsmW6B6AGKXikJIyJCH4wAzBzpNIs22TVk+A880OH
      yuEIIih6NaQzVRGglKlLWHcXLoQdSp8eDZYO0W1aYEVTMTp/I7LS8GS1aXaOjG0g
      6Re6f93wWz4v0VuVRe8MmZyorbRhL4nfG0gt5mK/85ybL6+LqOflK7WaMilb3KRa
      rpZrei+y/IIT4QIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQB/LDxjjBF8usMCEGbH
      IzCbgsTRBK0ZKqWBLemY70b1a4MH/GxUjWj6qKgI0BpP2ArEtmKoEBpGJC3N8KnZ
      3A90r9Xnp83vvKPv9sxhd4/yGR0Bu0CJazx4IvKxVjQO8zyecRTQ8RkMYmlJpfuI
      esBV5FmcAWvHTstzQU8/0J6nKjVMR0A4F9POLKsGvDkYIDKo5gFP23pkr4Mi6sJh
      ojMX1pTX7jGFay66Dtj5jW0E//HYAf0MvnDwtC461TyOO0LOzDzBTKrv/tDERRuM
      1/NYqyxwObsUSuQlC96L1H5momzY6Pgb64zDv6fp3KKMwYX/u5/bZF4mADaUjLQA
      F6Ub
      -----END CERTIFICATE-----
    key: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCP9pYitq7Zxv/L
      0j917dHdypRe/ElVP2lki4J04fpSwKpYUd3bijyQZ4K+WMPeQdfb+0zm7fGSIjzB
      j9xH9ieFCAL5wDML1NBreiIkCp/bPQ14rI8YUzQ5O0WBiFM1P+W3tFhteg372RhI
      rBZAh1wnmB4s1HHsNS+yZboHoAYpeKQkjIkIfjADMHOk0izbZNWT4DzzQ4fK4Qgi
      KHo1pDNVEaCUqUtYdxcuhB1Knx4Nlg7RbVpgRVMxOn8jstLwZLVpdo6MbSDpF7p/
      3fBbPi/RW5VF7wyZnKittGEvid8bSC3mYr/znJsvr4uo5+UrtZoyKVvcpFqulmt6
      L7L8ghPhAgMBAAECggEAAJTMFsgw1oinwCJRYHmDiM2B+3KYHTPMI7xiD3S/tpVr
      WqXuxMclgKbz75U0kHFcAybCZCBLz5cIMpCqumoNAmV9ry9Bq+eOqKoHX0JHuPJH
      9Qr4g1TURIx8g434WaIWnFiqQe7lnygWOzZ7dIRw/Wi8BNq3hwhqVxVzQqEFXvKv
      /mQ6ZUt8VNgxpMMOXX+ZzQSgv6MhyQoa9gvLOk5JZSaEbPlWOrIusOtF/maLWS9U
      WGD+Mu3Gpoh1a9q41fKrcrn615lkGg3YzExxNUGMtxpN3f4iXx9mEc+hh6BZefcF
      0sWIB9C8G7eul9Sz1S/AqUOri+61ObH6mDZDMjtDAQKBgQC2Ua4G/uzcq516NH5a
      pyTg7WqNvJSFt5Hne+7ye+WMmrPalaQaSU57H3ceIv02xY5uYcMYAGO3IYhJjX+y
      KdYN+xgfV06mGqcxPlrKZmpd9RZIRKUlbut9VFTJreKhUWrhsuuoF9sHWbp8WuMU
      dbDOH8/l+UoDQJRz5EWpQv420QKBgQDKJLLKGABecGoPilp4dti5a80tswakQXfD
      CuNZ9pYcuhBli4mKz63xfMylTKaYyfx4qfffw/HiMjoXGQ9v2WsNy81XClLSB/Vr
      gn09d94aX0BMhji3UTossbSYayFvBSxBwey9KJvrPzr/6Lnejo8abDMjEVph4CsY
      fUjYSpVwEQKBgCaQ2pYiQKphJvudtQiqCJQHxJ1cwbITZaqovZ/Pc3wtkVPwiXkB
      /rburfzS++slGP7icSlXk8A+OJ0OcG+Yh+4HKlAe4MUkKC+zd/MOfPuJB4Cb/K8R
      aoDlYNYUkTb8iPZbKZwyB6PjaB47/4Lpbk/7zLdh5zUO6RgmtlGamTmxAoGBAK2E
      UvSnJanrVR+B46cEXYTMxJM12b2ldOg3sHDI+pIuJWUFIkvFecqRFhnOcjM1L0Nk
      oyGxUTCZbMPm/xlDyGFPUDQm6HDh5AklOdxJyJ1aphcKICU71HQJFry/OTPTfOn1
      TQISmcSVwk9ptiMUvEIyHrM7choSEuwynxUK8LwBAoGBAIpzLRhuEiytOACEf5Jx
      55YsQixWS3ruMWPm2jkq7KRfBEsR0H2CQbWgioxFFgBQijL2XJVWiUQ++ODk4+/p
      VnV9I11n6UHDZMkaSe7XsJVj3weGgQxJqcC0Dskyzom3FzpVcarY9vQWGhlyOyy1
      9hYkoRv8CveTYDKRktO+UVYe
      -----END PRIVATE KEY-----
