---
apiVersion: v1
items:
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    annotations:
      olm.providedAPIs: Keycloak.v1alpha1.keycloak.org,KeycloakBackup.v1alpha1.keycloak.org,KeycloakClient.v1alpha1.keycloak.org,KeycloakRealm.v1alpha1.keycloak.org,KeycloakUser.v1alpha1.keycloak.org
    generateName: niko-sso-teset-
    name: "{{sso_operator_namespace}}-9lvnw"
    namespace: "{{ sso_operator_namespace }}"
  spec:
    targetNamespaces:
    - {{ sso_operator_namespace }}
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
