apiVersion: v1
items:
- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: rhsso-operator
    namespace: "{{sso_operator_namespace }}"
  spec:
    channel: stable
    installPlanApproval: Automatic
    name: rhsso-operator
    source: redhat-operators
    sourceNamespace: openshift-marketplace
    startingCSV: {{sso_operator_version }}
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
